

html, body {
    overflow-x: hidden;
    height: 100%;
}

a {
    text-decoration: none !important;
}

/* ---------------------------------------------- Header */

.header-container {
    background-color: #fff;
    border-bottom: 2px solid #e35c23;
    margin-top: -10px;
}

.header-title {
    text-align: center;
    margin-top: -5px;
    color: #661c0d;
    font-weight: bolder;
    margin-bottom: -10px;
}

.header-contact {
    text-align: center;
}

.header-phone {
    text-align: center;
    color: #e35c23
}

.header-phone i {
    color: #661c0d;
}

.header-phone-text {
    text-align: center;
    margin-top: -10px;
    font-size: 12px;
    text-indent: 35px;
    color: blue;
    margin-bottom: -10px;
}

/* ---------------------------------------------- View and Signup */

.form-image-wrapper {
    background-image: url(../images/cruiseliner-image1.jpg);
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.topic-container {
    float: right;
    color: #fff;
    margin-top: 100px;
}

.topic-container h1 {
    margin-top: -12px;
    margin-bottom: -5px;
}

.form-container {   
    float: right;
    background-color: #e35c23;
    color: #fff;
    margin-top: 0px;
    margin-right: 300px;
    max-width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}

.form-container h3 {
    margin-top: -5px;
    background-color: #fff;
    color: #e35c23;
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.form-container input {
    border: 1px solid #fff;
    background-color: #e35c23;
    color: #fff;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 5px;
    width: 100%;
}

::placeholder {
    color: #fff;
    font-weight: lighter;
    text-transform: uppercase;
}

button {
    background-color: #fff;
    color: #e35c23;
    font-weight: bolder;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    border-radius: 0;
}

.form-container p {
    margin-bottom: -5px;
    padding-top: 5px;
}

/* ---------------------------------------------- Footer */

.footer-container {
    background-color: #e35c23;
    opacity: 0.8;
}

.footer-text {
    text-align: center;
    color: #fff;
}

.footer-links {
    list-style-type: none;
    text-align: center;
}

.footer-links li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-links li a {
    color: #661c0d;
    transition: color 1s ease-in-out;
}

.footer-links li a:hover {
    color: #fff;
    transition: color 1s ease-in-out;
}